flask
streamlit
requests
python-dotenv
google-generativeai
numpy
pandas
plotly
scikit-learn
textblob
openai
gTTS
opencv-python-headless
mediapipe
tensorflow-cpu==2.15.0
pydub
SpeechRecognition
flask-cors
